h1 {
color:blue;
font-size:30;
}
h3 {
color:green;
font-size: 20;
}
p {
color:yellow;
font-size:12;
}
em {
    color:red;
}
.classA {
    color:red;
}

.a {
color:orange;    
} 
.b {
    font: 16px;
}

.my-color {
color:blue;

}